<div id="<%= dom_id producto %>">
  <p>
    <strong>Nombre:</strong>
    <%= producto.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= producto.descripcion %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= producto.stock %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= producto.precio %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= producto.sku %>
  </p>

</div>
